<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Africa Multiple Calendars</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <style type="text/css">
          .hero {
            height: 100vh;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
          .hero .list-group {
            width: 240px;
          }
        </style>
        <script type="text/javascript" src="/js/color.mode.toggler.js"></script>
<!--
        <script type="text/javascript" src="/js/jquery-4.0.0.min.js"></script> <!-- https://zetcode.com/javascript/jsonurl/ -->
-->
    </head>
    <body>
      <div class="hero overflow-auto">
        <div class="d-block w-100 position-relative">
          <img src="/images/logo_africamultiple_image.svg" class="mb-4 mw-25 position-absolute top-0 end-0 mr-5" style="width:300px">
        </div>
<!--
        <a href="https://cal.africamultiple.uni-bayreuth.de/owc/calendar.html?specification_url=https://cal.africamultiple.uni-bayreuth.de/specs/specification_all.json" class="btn btn-sm btn-outline-secondary mt-4">View the Calendar</a>
-->

        <h4>Select your timezone:</h4>
        <select id="timezoneOption"><option value="Europe/Berlin">Bayreuth Time</option><option value="Africa/Nairobi">Eldoret Time</option><option value="WAT">Lagos Time</option><option value="SAST">Makhanda Time</option><option value="GMT">Ouagadougou Time</option></select>
  
        <iframe class="open-web-calendar mw-75 mb-5" id="owcTimezone"
        style="background:url('/assets/img/circular-loader.gif') center center no-repeat; border-radius: 10px; min-height: 500px; width:90%"
        src="https://cal.africamultiple.uni-bayreuth.de/owc/calendar.html?specification_url=https://cal.africamultiple.uni-bayreuth.de/specs/specification_all.json&"
        sandbox="allow-scripts allow-same-origin allow-top-navigation"
        allowTransparency="true" scrolling="no"
        frameborder="0"></iframe>
        
<!--
        <h4 class="m-4">Subscribe to one or more of the following calendars:</h4>
        
        <div class="row w-50 mb-3" style="min-height: 90px; margin-bottom:.5em;" id="calendars"></div>
-->
        
        <h4 class="mt-5">Administration</h4>
        <a href="https://cal.africamultiple.uni-bayreuth.de/view/" class="btn btn-sm btn-outline-secondary mt-4">Enter Events (registered users only)</a>
        <a href="{{ path('dashboard') }}" class="btn btn-sm btn-outline-secondary mt-4">{{ "admin.interface"|trans }}</a>
      </div>
      

      <script>
        // TODO: Set the iframe id:
        var calendarIFrameID = "owcTimezone";
        var originalUrl;  // the oririginal URL of the iframe
        var calendarIFrame; // the stored iframe as a variable

        // Save the original URL
        function setInitialTimezone() {
          calendarIFrame = document.getElementById(calendarIFrameID);
          originalUrl = calendarIFrame.src;
          changeTimezone();
        }

        // Change to the selected timezone
        function changeTimezone() {
          console.log("change timezone: " + timezoneOption.value);
          calendarIFrame.src = originalUrl + (timezoneOption.value ? "timezone=" + timezoneOption.value : "");
          console.log("url: " + calendarIFrame.src);
        }

        window.addEventListener("load", setInitialTimezone);
        timezoneOption.onchange = changeTimezone;
      </script>
<!--
      <script>
        function executeOnLoad() {
          $.getJSON('https://cal.africamultiple.uni-bayreuth.de/specs/specification_all.json', function(data) {
                  for(var i=0; i < data.url.length; i++){
                    var calurl = data.url[i].replace('https','webcal');
                    var item = "<div class=\"col-6 col-sm-3 m-2\" style=\"width: 10rem;min-height: 90px\"><a class=\"btn btn-primary mx-1 text-wrap align-middle\" style=\"width: 10rem;height: 100%\" href=\"" + calurl+"\">";
                    if ('calnames' in data && data.calnames.length >= i){
                      item += data.calnames[i];
                    }else{
                      item += data.url[i];
                    }
                    item += "</a><div/>";
                    if(i % 2 == 0){
                      console.log("linebreak");
                      item += "<div class=\"w-100\"></div>";
                    }
                    $('#calendars').append(item);
                  }
              });
        }
        $( document ).ready(function() {
            executeOnLoad();
        });
      </script>
-->
    </body>
</html>
