<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Africa Multiple Calendars</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <style type="text/css">
          .hero {
            height: 100vh;
            overflow: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
          .hero .list-group {
            width: 240px;
          }
        </style>
        <script type="text/javascript" src="/js/color.mode.toggler.js"></script>
    </head>
    <body>
      <div class="hero">
        <div class="d-block w-100">
          <img src="/images/logo_africamultiple_image.svg" class="mb-4 mw-25 position-absolute top-0 end-0 mr-5" style="width:300px; right:50px">
        </div>

        <h4>Select your timezone:</h4>
        <select id="timezoneOption"><option value="Europe/Berlin">Bayreuth Time</option><option value="Africa/Nairobi">Eldoret Time</option><option value="WAT">Lagos Time</option><option value="SAST">Makhanda Time</option><option value="GMT">Ouagadougou Time</option></select>
  
        <iframe class="open-web-calendar mw-75 mb-5" id="owcTimezone"
        style="background:url('/assets/img/circular-loader.gif') center center no-repeat; border-radius: 10px; min-height: 500px; width:90%"
        src="https://cal.africamultiple.uni-bayreuth.de/owc/calendar.html?specification_url=https://cal.africamultiple.uni-bayreuth.de/specs/specification_all.json&"
        sandbox="allow-scripts allow-same-origin allow-top-navigation"
        allowTransparency="true" scrolling="no"
        frameborder="0"></iframe>
        
        <h4 class="mt-5">Administration</h4>
        <a href="https://cal.africamultiple.uni-bayreuth.de/view/" class="btn btn-sm btn-outline-secondary mt-4">Enter Events (registered users only)</a>
        <a href="{{ path('dashboard') }}" class="btn btn-sm btn-outline-secondary mt-4">{{ "admin.interface"|trans }}</a>
      </div>
      

      <script>
        var calendarIFrameID = "owcTimezone";
        var originalUrl;  // the oririginal URL of the iframe
        var calendarIFrame; // the stored iframe as a variable

        // Save the original URL
        function setInitialTimezone() {
          calendarIFrame = document.getElementById(calendarIFrameID);
          originalUrl = calendarIFrame.src;
          changeTimezone();
        }

        // Change to the selected timezone
        function changeTimezone() {
          console.log("change timezone: " + timezoneOption.value);
          calendarIFrame.src = originalUrl + (timezoneOption.value ? "timezone=" + timezoneOption.value : "");
          console.log("url: " + calendarIFrame.src);
        }

        window.addEventListener("load", setInitialTimezone);
        timezoneOption.onchange = changeTimezone;
      </script>
    </body>
</html>
