<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Africa Multiple Calendars</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <style type="text/css">
          .hero {
            height: 100vh;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
          }
          .hero .list-group {
            width: 240px;
          }
        </style>
        <script type="text/javascript" src="/js/color.mode.toggler.js"></script>
        <script type="text/javascript" src="/js/jquery-4.0.0.min.js"></script> <!-- https://zetcode.com/javascript/jsonurl/ -->
    </head>
    <body>
      <div class="hero">
        <img class="mb-4" src="/images/logo_africamultiple_image.svg" class="w-25">
        <h4 class="mb-4">Subscribe to one or more of the following calendars:</h4>
        
        <div class="row w-50" id="calendars"></div>
        <a href="https://cal.africamultiple.uni-bayreuth.de/view/" class="btn btn-sm btn-outline-secondary mt-4">Enter Events (registered users only)</a>
        <a href="{{ path('dashboard') }}" class="btn btn-sm btn-outline-secondary mt-4">{{ "admin.interface"|trans }}</a>
      </div>
      
      <script>
        function executeOnLoad() {
          $.getJSON('https://cal.africamultiple.uni-bayreuth.de/specs/specification_all.json', function(data) {
                  for(var i=0; i < data.url.length; i++){
                    var calurl = data.url[i].replace('https','webcal');
                    $('#calendars').append("<div class=\"col-6 col-sm-3\">");
                    if ('calnames' in data && data.calnames.length >= i){
                      $('#calendars').append("<a class=\"btn btn-primary mx-1 text-wrap\" style=\"width: 10rem;\" href=\"" + calurl +"\">" + data.calnames[i] + "</a>");
                    }else{
                      $('#calendars').append("<a class=\"btn btn-primary mx-1 text-wrap\" style=\"width: 10rem;\" href=\"" + calurl +"\">" + data.url[i] + "</a>");
                    }
                    $('#calendars').append("<div/>");
                    console.log(i);
                    if(i % 2 == 0){
                      console.log("linebreak");
                      $('#calendars').append("<div class=\"w-100\"></div>");
                    }
                  }
              });
        }
        $( document ).ready(function() {
            executeOnLoad();
        });
      </script>
    </body>
</html>
